<!DOCTYPE html>
<html>
    <head>
        <title>Demeter</title>
        <meta name="color-scheme" content="dark">
        <link type="text/css" rel="stylesheet" href="<%-static%>/lib/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="<%-static%>/css/app.css">
        <link id="favicon_48" rel="icon" href="<%-static%>/img/icon/icon.svg" sizes="256x256">
        <script type="text/javascript">
            const currentSystem = '<%=systemName%>';
            const version = '<%=version%>';
            const static = '<%=static%>';
            const commands = <%-JSON.stringify(commands)%>;
            let firmware;
        </script>
        <script type="text/javascript" src="<%-static%>/lib/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="<%-static%>/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="<%-static%>/lib/commonWS.js"></script>
        <script type="text/javascript" src="<%-static%>/js/app.js"></script>
    </head>
    <body class="<%-background%> overflow-hidden d-flex flex-column" id="body" data-bs-theme="dark">
        <nav class="drag navbar navbar-expand-lg navbar-dark bg-title px-2 pe-5 m-0">
            <a class="navbar-brand" href="#">
                <img src="../static/img/icon/icon.svg" class="d-inline-block align-top" alt="" width="30" height="30">
                Demeter
            </a>
            <div class="m-auto">
                <button id="showSelect" class="btn btn-secondary">Frames</button>
                <button id="showCommands" class="btn btn-secondary">Global Cards Config</button>
                <button id="showLogs" class="btn btn-secondary">Logs</button>
            </div>
        </nav>
        <main id="demeterCont" class="overflow-hidden">
            <section id="addDevices" class="tab h-100 overflow-auto">
                <div class="p-2 d-flex">
                    <input class="form-control me-2" id="addFrameIP" type="text" placeholder="Frame IP">
                    <input class="form-control me-2" id="addFrameNumber" type="text" placeholder="Frame Number (optional)">
                    <input class="form-control me-2" id="addFrameName" type="text" placeholder="Frame Name (optional)">
                    <button class="form-control btn btn-primary" id="addFrameIPBtn">Add</button>
                </div>
                <article id="framesCont">

                </article>
            </section>
            <section id="cardCommands" class="tab h-100 overflow-auto"></section>
            <section id="logs" class="h-100 overflow-auto tab d-none"></section>
        </main>
    </body>
</html>