<!DOCTYPE html>
<html>
    <head>
        <title>Demeter</title>
        <meta name="color-scheme" content="dark">
        <link type="text/css" rel="stylesheet" href="<%-static%>/lib/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="<%-static%>/css/app.css">
        <link id="favicon_48" rel="icon" href="<%-static%>/img/icon/icon.svg" sizes="256x256">
        <script type="text/javascript">
            const currentSystem = '<%=systemName%>';
            const version = '<%=version%>';
            const static = '<%=static%>';
            const commands = <%-JSON.stringify(commands)%>;
            let firmware;
        </script>
        <script type="text/javascript" src="<%-static%>/lib/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="<%-static%>/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="<%-static%>/lib/commonWS.js"></script>
        <script type="text/javascript" src="<%-static%>/js/app.js"></script>
    </head>
    <body class="<%-background%> overflow-hidden d-flex flex-column" id="body" data-bs-theme="dark">
        <nav class="drag navbar navbar-expand-lg navbar-dark bg-title px-2 pe-5 pb-0 m-0 nav nav-tabs">
            <a class="navbar-brand" href="#">
                <img src="../static/img/icon/icon.svg" class="d-inline-block align-top" alt="" width="30" height="30">
                Demeter
            </a>
            <button class="active nav-link text-light tabSelect" data-tab="frames">Frames</button>
            <button class="nav-link text-light tabSelect" data-tab="groups">Group Configs</button>
            <div class="d-flex m-auto pb-1">
                <!-- <button class="btn btn-secondary" id="showLogs">Logs</button> -->
                <button class="align-self-center btn btn-primary btn-sm h-100" id="importExport" data-bs-toggle="modal" data-bs-target="#importPop">Import/Export</button>
                <label for="showOffline">Show Offline Cards</label>
                <div class="align-content-center form-switch">
                    <input type="checkbox" id="showOffline" class="form-check-input">
                </div>
            </div>
        </nav>
        <main id="demeterCont" class="overflow-hidden">
            <section class="tab h-100 overflow-auto" data-tab="frames">
                <div class="p-2 d-flex gap-2">
                    <button class="btn btn-secondary collapseFrames text-nowrap">Collapse All</button>
                    <input class="form-control" id="addFrameIP" type="text" placeholder="Frame IP">
                    <input class="form-control" id="addFrameNumber" type="text" placeholder="Frame Number">
                    <input class="form-control" id="addFrameName" type="text" placeholder="Frame Name (optional)">
                    <select class="form-select" id="addFrameGroup" type="text">
                        <option value="" selected readonly hidden>Select Group (optional)</option>
                    </select>
                    <button class="form-control btn btn-primary" id="addFrameIPBtn">Add</button>
                </div>
                <article id="framesCont">

                </article>
            </section>
            <section class="tab h-100 overflow-auto" data-tab="groups">
                <div class="p-2 d-flex">
                    <input class="form-control me-2" id="addGroup" type="text" placeholder="Group Name">
                    <button class="form-control btn btn-primary me-2" id="addGroupBtn">Add</button>
                </div>
                <article id="groupCont">

                </article>
            </section>
            <section id="logs" class="h-100 overflow-auto tab d-none"></section>
        </main>
        <article id="importPop" class="modal fade" tabindex="-1">
            <section class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="w-50">Config Import/Export</h3>
                    </div>
                    <div class="p-2">
                        <h4 class="w-50">Groups</h4>
                        <div class="d-flex gap-1">
                            <input class="form-control" id="importGroupsFile" type="file">
                            <button class="form-control btn btn-primary me-5" id="importGroups">Import</button>
                            <button class="form-control btn btn-primary" id="exportGroups">Export</button>
                        </div>
                        <h4 class="w-50">Frames</h4>
                        <div class="d-flex gap-1">
                            <input class="form-control" id="importFramesFile" type="file">
                            <button class="form-control btn btn-primary me-5" id="importFrames">Import</button>
                            <button class="form-control btn btn-primary" id="exportFrames">Export</button>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </body>
</html>