<!DOCTYPE html>
<html>
    <head>
        <title>Demeter</title>
        <meta name="color-scheme" content="dark">
        <link type="text/css" rel="stylesheet" href="<%-static%>/lib/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="<%-static%>/css/app.css">
        <link id="favicon_48" rel="icon" href="<%-static%>/img/icon/icon.svg" sizes="256x256">
        <script type="text/javascript">
            const currentSystem = '<%=systemName%>';
            const version = '<%=version%>';
            const static = '<%=static%>';
        </script>
        <script type="text/javascript" src="<%-static%>/lib/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="<%-static%>/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="<%-static%>/lib/commonWS.js"></script>
        <script type="text/javascript" src="<%-static%>/js/app.js"></script>
    </head>
    <body class="<%-background%> overflow-hidden d-flex flex-column" id="body">
        <nav class="drag navbar navbar-expand-lg navbar-dark bg-title px-2 m-0">
            <a class="navbar-brand" href="#">
                <img src="../static/img/icon/icon.svg" class="d-inline-block align-top" alt="" width="30" height="30">
                Demeter
            </a>
        </nav>
        <main id="demeterCont" class="overflow-hidden">
            <section class="d-flex h-100 overflow-hidden">
                <div id="disks" class="flex-fill overflow-auto"></div>
                <div id="cardType" class="overflow-auto">
                    <div class="cardType typeGateway">UCP Gateway</div>
                    <div class="cardType typeMV">UCP Multiview</div>
                    <div class="cardType typeMADI d-none">UCP MADI</div>
                </div>
            </section>
            <div id="logs" class="d-none"></div>
        </main>
    </body>
</html>